#main-sec {
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  background-color: bisque;
  border-radius: 100px;
  margin: 20px;
  gap: 50px;
}

#sub-sec1 {
  padding: 8px;
  margin-left: 45px;
}

#sub-sec2 {
  padding: 35px;
  margin-left: 200px;
}

#sub-sec3 {
  margin-top: -18px;
  margin-left: 900px;
}

nav a {
  margin-right: 50px;
}

#contact-button {
  border: 2px solid black;
  background-color: burlywood;
  padding: 5px;
}

#main {
  display: flex;
  gap: 150px;
  margin: 15px;
  background-color: darksalmon;
  padding: 20px;
}
